.FourthPage {
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh; /* Set minimum height to full viewport height */
    background-color: var(--bg-clr);
  }
  
  .FourthPage h2 {
    margin: 70px 0 0 50px;
  }
  
  .f-hero {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 80px;
  }
  
  .f-hero .f-left {
    background: transparent;
    width: 400px;
    height: auto; /* Set height to auto for content to dictate height */
    color: var(--bg-clr);
    border-radius: 7px;
    margin-top: 50px;
    margin-left: 20px;
  }
  
  .f-head {
    display: flex;
    padding: 17px;
    justify-content: center;
    align-items: flex-start;
    color: aliceblue;
  }
  .f-left h3 i{
    margin:7px;
    margin-left: -19px;
  }
  .f-left div {
    margin: 26px 30px;
    color: aliceblue;
  }
  
  .f-right img {
    height: 400px;
    margin-top: 50px;
  }
  
  /* Getting a Message from the user */
  
  form {
    border: 1px solid #ffffff;
    display: flex;
    background-color: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    flex-direction: column;
    padding: 0 40px 40px 40px;
    gap: 20px;
    border-radius: 18px;
  }
  
  .f-right form h2 {
    text-align: center;
    margin-left:-26px;
  }
  
  .c-name {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  
 .FirstName,
  .LastName,
  .email {
    display: flex;
    flex-direction: column;
  }

  input,
  textarea {
    padding: 5px 10px;
    outline: none;
    border-radius: 5px;
    border: none;
  }
  
  input[type='submit'] {
    background-color: var(--clr);
    color: #ffffff;
    border-radius: 20px;
    padding: 9px 0 9px 0;
    
  }
  
  input[type='submit']:hover {
    background-color: transparent;
    transition-duration: 0.5s;
    border: 2px solid var(--clr);
  }
  footer{
      height:100px;
      margin-top: 120px;
      border-top:1px solid var(--clr);
      display: flex;
      justify-content: center;
  }
  .footer-col .links{
   display: flex;
   justify-content: center;
   align-items: center;
  }
  footer h4{
    margin-left:40px;
    margin-top: 10px;
  }


  .footer-col .links a i{
    margin-top: 20px;
    margin-left: 20px;
    color: var(--clr);
  }

  @media only screen and (max-width: 789px) {
    .f-hero {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .f-head{
      margin-top: 90px;
    }
    input[type='submit']{
      margin-left: -30px;
    }
    
  
    .f-hero .f-left {
      margin-left: 40px;
      margin-top: -150px;
    }
      .FourthPage {
      margin-top: 450px;
    } 
      .c-name{
          flex-direction:column;
      }
      
  
    form input[type='submit'] {
      margin:15px auto;
        width:250px;
    }
      form{
          width:335px;
          padding: 0 7px 7px 7px;
      }
  }
  
